<h2>新規登録</h2>
<%= form_for @user, url: {action: "create"} do |u| %>
    <%= u.label :name, 'お名前' %>
    <%= u.text_field :name %>
    <%= u.label :email, 'E-MAIL' %>
    <%= u.email_field :email %>
    <%= u.submit %>
<% end %>
