<header>
    <h1>TODO</h1>
    <nav class="flex">
        <ul class="flex">
            <li><%= link_to('TOP', '/') %></li>
            <li><%= link_to('新規作成', todos_new_path) %></li>
            <li><%= link_to('新規登録', '/signup') %></li>
            <li><%= link_to('ログイン', '/login') %></li>
            <li><%= link_to('一覧', '/users/index') %></li>
        </ul>
    </nav>
</header>
